div {
    background-color:white;
    position: static;
    float: left;
    height: 130px;
    text-align: center;
    font-size: 30pt;
    font-family: 'Microsoft Sans Serif', Tahoma, sans-serif;
    width: 130px;
    margin: auto;
    
    
}
.container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
}


body {
    background-color: red;
}

#speechbubble {
    font-size: 15pt !important;
    width: 200px !important;
}


.booten {
    position: absolute !important;
    bottom: 0px !important; 
}
